p{
    color: black;
}
body{
    margin: auto;
}
.container{
    margin-top: 3%;
}
.cbg{
    padding: 5% 2%;
    margin: auto;
    background-color: palegoldenrod;
}
h6{
    font-weight: bold;
    color: chocolate;
    }
.card{
    text-align: center;
}
.buy-now-button{

    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    
}
.card-footer {
    background-color: white;
    border-top: none;
}