.container{

margin-bottom:100px;
}
.slide{
    padding-top: 5%;
}
.row{
    margin-bottom: 20px;
}
p{
    color: black;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffcc33;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 100px;
    opacity: .5;
    transition: opacity .6s ease;
}
.cbg{   
    background-image: url("images/bg\ copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h6{
    font-weight: bold;
    color: #ff9900;
    }
.card{
    text-align: center;
    background-color: none;
    border:  white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgba(163,155,163,0.11);
    padding: 2% 2%;
    
}
.buy-now-button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    
}
.card-footer {
    background-color: white;
    border-top: none;
}
.cate
{       font-size: 40px;
        text-align: center;
        
 }
    


.card-item{
    text-align: center;
    background-color: none;
    border:  none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 30px 15px rgba(163,155,163,0.11);
    padding: 20% 20%;  
}
