p{
    color: black;
}
body{
    margin: auto;
}
.container{
    margin-top: 3%;
}
.cbg{
    padding: 5% 2%;
    margin: auto;
    background-color: palegoldenrod;
}
h6{
    font-weight: bold;
    color: chocolate;
    }